/* 606c38 - lighter green*/
/* 283618 - darker green*/
/* fefae0 - whiteish*/
/* dda15e - lighter peach*/
/* bc6c25 - darker peach*/

@font-face {
    font-family: 'Yatra One';
    src: url('./YatraOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

* {
    margin: 0;
    padding: 0;
    font-family: 'Yatra One';
}

body {
    background-color: #dda15e;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #606c38;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 10px 10px 0px;
}

button {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: medium;
    background-color: #606c38;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}